
#root {
  height: 100%;
}

.App {
  background: #e2e1e0;
  height: 100%;
  text-align: center;
}


.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}


.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.h-100 {
  height: 100%;
  overflow: scroll;
}


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 4px 4rem 4px 4rem;
  position: relative;
  padding: 1rem;
  width: 50%;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
